{% extends "layout.html" %}
{% block content  %}

<div class="row">
  <div class="col-lg-3">
  {% include "categories.html" %}
  </div>

  <div class="col-lg-9 right-panel">
    <div class="col-lg-6">
      <form method="GET">
          <div class="row">
            <div class="col-lg-10">
              <input name="search" type="text" class="form-control" placeholder="Type product's name"/>
            </div>
            <div class="col-lg-2">
              <input type="submit" class="btn btn-md btn-primary" value="Search"/>
            </div>
          </div>
      </form>
      </div>
    {% if not selected_category %}
      <h3>All our products:</h3>
    {% endif %}
    <div class="row">
      {% for product in products %}
        {% include "product.html" %}
      {% endfor %}
    </div>
  </div>

</div>

{% endblock %}