{% extends "layout.html" %}
{% block content  %}

<!-- Page Content -->

<div class="row">
  <div class="col-lg-3">
  {% include "categories.html" %}
  </div>
  <!-- /.col-lg-3 -->

  <div class="col-lg-9 right-panel">
    {% if not selected_category %}
    <div class="row">
      <h3>All our products:</h3>
    </div>
    {% endif %}
    <div class="row">
      {% for product in products %}
        {% include "product.html" %}
      {% endfor %}
    </div>
    <!-- /.row -->

  </div>
  <!-- /.col-lg-9 -->

</div>
<!-- /.row -->

{% endblock %}