{% extends "layout.html" %}

{% block links %}
  <li class="nav-item active">
  <a class="nav-link" href="/">Home</a>
  </li>
  <li class="nav-item">
  <a class="nav-link" href="/about/">About</a>
  </li>
  <li class="nav-item">
  <a class="nav-link" href="/services/">Services</a>
  </li>
  <li class="nav-item">
  <a class="nav-link" href="/contact/">Contact</a>
  </li>
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-lg-3">
  {% include "categories.html" %}
  
  </div>

  <div class="col-lg-9 right-panel">
    <div class="row search-row">
      <form method="GET" action="/">
        <div class="row">
          <div class="col-lg-10">
            <input name="search" type="text" class="form-control search-input" placeholder="Type product's name"/>
          </div>
          <div class="col-lg-2">
            <input type="submit" class="btn btn-md btn-primary search-button" value="Search"/>
          </div>
        </div>
      </form>
    </div>
    {% if search %}
      {% if products %}
        <h3>Products found for query "{{ search }}" :</h3>
      {% else %}
        <h3>No products found for query "{{ search }}"</h3>
      {% endif %}
    {% endif %}
    {% if not selected_category and not search %}
      <h3>All our products:</h3>
    {% endif %}
    <div class="row">
      {% for product in products %}
        {% include "product.html" %}
      {% endfor %}
    </div>
  </div>

</div>

{% endblock %}