
{% extends "layout.html" %}
{% block content %}
<div>
    <h1 class="text-center">Catalog</h1>
    {% for category, products in catalog.items() %}
    <h3>{{ category }}</h3>
    <table class="table table-hover">
        <thead>
            <th class="col-md-6">Type</th>
            <th class="col-md-6">Price</th>
        </thead>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
            </tr>
        {% endfor %}
    </table>
    {% endfor %}
</div>
{% endblock %}