{% extends "layout.html" %}
{% block content  %}

<h4 class="card-title space">Our services</h4>

<div class="row">
    <div class="col-lg-3 col-md-5 mb-4">
        <div class="card h-20">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSa91nqTAWxd1R_SSfdAS9DaBbKkPlUMtcL8s2wROgPhEI8AAdd&usqp=CAU" alt="">
        </div>
    </div>

    <div class="col-lg-8 col-md-6 mb-4 about">
        <div class="card h-20 noframe">
            <p class="card-text"> </p>
            <b><p class="card-text">Delivery</p></b>
            <p class="card-text"> </p>
            <p class="card-text">You can ask our managers about the delivery servise. Just simply call to +7 979 999 39 39.</p>
            <p class="card-text">The cost of this service is depended on the delivery address. Certain areas have no any delivery costs!</p>
            <p class="card-text">Remember! To use our delivery servese you need to remember your telegram id and your order id.<//p>
        </div>
    </div>


    <div class="col-lg-3 col-md-5 mb-4">
        <div class="card h-20">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSLH-S-g7fW41Iv6B_sjfZU44bL2-BVmPNkXTILtk_KZIK9kgnJ&usqp=CAU" alt="">
        </div>
    </div>

    <div class="col-lg-8 col-md-6 mb-4 about">
        <div class="card h-20 noframe">
            <p class="card-text"> </p>
            <b><p class="card-text">Gift wrapping</p></b>
            <p class="card-text"> </p>
            <p class="card-text">If you want to order something from our shop as a gift, you can ask for a special wrapping.</p>
            <p class="card-text">The cost of this service is 2 USD per 1 box. You can ask our managers how many boxes you need for your order. Each 3rd box is for free!</p>
            <p class="card-text">Just simply call to +7 979 999 39 39.</p>
        </div>
    </div>
</div>

{% endblock %}